@import "colors";

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.loader {
  display: flex;
  justify-content: center;

  align-items: center;
  height: 100vh;
  > svg {
    font-size: 15rem;
    color: $blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  > div {
    font-size: 2rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Kalam&family=Roboto&family=Ubuntu:wght@300&display=swap");
